@import 'tailwindcss';

html {
    font-family: Roboto;
    color: #121212;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

th,
td {
    border: 1px solid #4a4a4a;
    text-align: left;
}

th {
    background-color: #dde2e5;
    font-weight: bold;
    padding: 8px;
}

td {
    padding: 16px 8px 16px 8px;
}

input[type='file']::file-selector-button {
    margin-right: 8px;
    border: none;
    background: #024c89;
    padding: 8px 16px;
    border-radius: 10px;
    color: #f8f9fa;
    cursor: pointer;
}

input[type='file']::file-selector-button:hover {
    background: #3572a1;
}
