@import 'tailwindcss';

html {
    font-family: Roboto;
    color: #121212;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

table {
    width: fit-content;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #4a4a4a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dde2e5;
    font-weight: bold;
}
