@import 'tailwindcss';

/* 
  * Primary/Main:           #024C89
  * Primary/Light:          #3572A1
  * Primary/Surface:        #E6EDF3
  * Secondary/Accent:       #C5A059
  * Secondary/Support:      #00A3AD
  * Neutral/Ink Dark:       #121212
  * Neutral/Ink Medium:     #4A4A4A
  * Neutral/Border:         #DDE2E5
  * Neutral/Surface:        #F8F9FA
  * Semantic/Success:       #28A745
  * Semantic/Error:         #DC3545
  * Semantic/Warning:       #FFC107
  * Semantic/Info:          #17A2B8
*/

html {
    font-family: Roboto;
    color: #121212;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

th,
td {
    border: 1px solid #4a4a4a;
    text-align: left;
}

th {
    background-color: #dde2e5;
    font-weight: bold;
    padding: 8px;
}

td {
    padding: 16px 8px 16px 8px;
}

input[type='file']::file-selector-button {
    margin-top: 4px;
    margin-right: 8px;
    border: none;
    background: #024c89;
    padding: 4px 8px;
    border-radius: 8px;
    color: #f8f9fa;
    cursor: pointer;
}

input[type='file']::file-selector-button:hover {
    background: #3572a1;
}

.ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.ProseMirror ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

/* Adds a slight empty-state space so the editor doesn't look completely collapsed */
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
